@import "tailwindcss";

@theme {
    --color-aotea-teal: #007971;
    --color-aotea-dark: #005a54;
    --font-sans: 'Montserrat', sans-serif;
}

:root {
    color-scheme: dark;
}

body {
    @apply bg-gray-900 text-white antialiased;
}